{% extends 'main/templates/index.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-md-7">
            <div class="box box-solid">
              <div class="box-header with-border">
                <i class="fas fa-exclamation" style="font-size: 17px;"></i>
                <h3 class="box-title">Message</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <p>En cours de développement </p>
                <p><b>CCR</b> Reporting.</p>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div><!-- ./col -->
                      
          <div class="col-sm-4">
          </div>
        </div>

{% endblock %}